<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div> -->

<!-- Name:<input type="text" #name><br/><br/>
<button type="button" (click)="sumbitbutton(name.value)">ADD</button> -->
<!-- <app-automatic></app-automatic> -->
<!-- <div class ="container">
  <nav>
    <a routerLink ="/automatic" routerLinkActive ="active">Home</a>
    <a routerLink = "/about" routerLinkActive ="active">About</a>
   </nav>
</div> -->
<!-- <button (click)= "dateClick()">Click to know today's Date</button>
{{todayDate}} -->

<div class="container">
  <nav>
     <a routerLink ="/home" routerLinkActive="active">Home</a>
     <a routerLink = "/dashboard" routerLinkActive = "active">Dashboard</a>
     <a routerLink = "/login" routerLinkActive ="active">Login</a>
     <a routerLink = "/child" routerLinkActive="active">Child</a>
     <a routerLink = "/parent" routerLinkActive="active">Parent</a>
  </nav>
</div>
<router-outlet></router-outlet>
